.carousel1 {
    .slide {
        .carousel-indicators {
            .active {
                background-color: $color-white-0;
                background-clip: border-box;
            }
            li {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                border: 1px solid $color-white-0;
                background-color: transparent;
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            width: 25%;
            margin: 180px 0;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: 100%;
            height: 100%;
            background-image: none;
        }
        .carousel-control-prev-icon {
            &:hover {
                cursor: url('../../img/carousel/arrow_left.png'), auto;
            }
        }
        .carousel-control-next-icon {
            &:hover {
                cursor: url('../../img/carousel/arrow_right.png'), auto;
            }
        }
        .carousel-inner {
            height: auto;
            .carousel-item {
                position: relative;
                img {
                    width: 100%;
                    height: 100vh;
                }
                .carousel_text {
                    position: absolute;
                    top: 40%;
                    left: 12%;
                    h1 {
                        text-transform: uppercase;
                        span {
                            font-size: 18px;
                        }
                    }
                    p {
                        margin: 30px 0;
                        color: #7e7e7e;
                        line-height: 30px;
                    }
                }
            }
            .text3 {
                h1,
                p {
                    color: $color-white-0 !important;
                }
            }
        }
    }
}