.carousel2 {
    background-image: url('../../img/parallax/14.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    .owl-carousel {
        .item {
            padding-top: 30px;
            margin-bottom: 0;
            .carousel2_img {
                width: 100%;
                margin-bottom: 0;
                height: auto;
            }
            .carousel2_content {
                padding: 180px 0 0 100px;
                h4 {
                    color: $color-yellow-1;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                    font-style: italic;
                    line-height: 30px;
                    color: white;
                }
                button {
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    padding: 7px 15px;
                    border-radius: 4px;
                    transition: all 1s;
                    &:hover {
                        background-color: $color-yellow-1;
                        border-color: $color-yellow-1;
                    }
                }
            }
        }
    }
}

@include responsive('small') {
    .carousel2 {
        .owl-carousel {
            .item {
                padding-top: 10px;
                .carousel2_img {
                    display: none;
                }
                .carousel2_content {
                    padding: 40px 0 20px 30px;
                }
            }
        }
    }
}

@include responsive('medium') {
    .carousel2 {
        .owl-carousel {
            .item {
                padding-top: 10px;
                .carousel2_img {
                    display: none;
                }
                .carousel2_content {
                    padding: 40px 0 20px 30px;
                }
            }
        }
    }
}

@include responsive('large') {
    .carousel2 {
        .owl-carousel {
            .item {
                padding-top: 10px;
                .carousel2_img {
                    display: none;
                }
                .carousel2_content {
                    padding: 40px 0 20px 30px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .carousel2 {
        .owl-carousel {
            .item {
                padding-top: 10px;
                .carousel2_img {
                    display: none;
                }
                .carousel2_content {
                    padding: 40px 0 20px 30px;
                }
            }
        }
    }
}

@media (max-width: 1198px) {
    .carousel2 {
        .owl-carousel {
            .item {
                padding-top: 10px;
                .carousel2_content {
                    padding: 100px 0 20px 30px;
                }
            }
        }
    }
}