.client {
    padding-bottom: 80px;
    .client_content {
        .client_carousel {
            .item {
                margin: 20px;
                img {
                    width: 100%;
                }
            }
        }
    }
}