.contact {
    background-image: url('../../img/parallax/15.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 150px 0;
    color: white;
    .contact_item {
        text-align: center;
        margin-bottom: 30px;
        .contact_icon {
            animation-duration: 2s;
            i {
                color: transparent;
                -webkit-text-stroke: 1px white;
                font-size: 36px;
                padding-bottom: 30px;
            }
            i {
                color: transparent;
                -webkit-text-stroke: 1px white;
                font-size: 36px;
                padding-bottom: 30px;
            }
        }
        h1 {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 20px;
            letter-spacing: 1px;
            font-weight: normal;
        }
        p {
            margin: 0;
        }
    }
}