.skill {
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    background-image: url('../../img/parallax/4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    color: $color-white-0;
    position: relative;
    padding: 80px 0;
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .5);
    }
    .skill_left {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        height: 400px;
        h3 {
            position: absolute;
            top: 50%;
            width: 100%;
            letter-spacing: 5px;
        }
    }
    .skill_right {
        padding: 0 50px;
        color: $color-white-0;
        .skill_text {
            h4 {
                font-size: $fs-2 - 2;
                letter-spacing: 2px;
                margin-bottom: 30px;
            }
        }
        .skill_bar {
            .progress_bar {
                float: left;
                width: 100%;
                position: relative;
                overflow: visible;
                box-sizing: border-box;
                padding-top: 0;
                margin-top: 10px;
                margin-bottom: 50px;
                // padding-left: 10px;
                text-align: left;
                color: #fff;
                background-color: #606060;
                box-shadow: none;
                font-size: 10px;
                line-height: 20px;
                height: 20px;
                .bar1 {
                    visibility: visible;
                    width: 80%;
                    height: 100%;
                    position: relative;
                    overflow: visible;
                    box-sizing: border-box;
                    padding-top: 0;
                    padding-left: 10px;
                    text-align: left;
                    color: #222;
                    background-color: #fff;
                    box-shadow: none;
                    font-size: 10px;
                    line-height: 20px;
                    span {
                        background: $color-gray-2;
                        position: absolute;
                        top: -28px;
                        right: -5px;
                        display: inline-block;
                        min-width: 25px;
                        height: 20px;
                        padding: 0 8px;
                        text-align: center;
                        letter-spacing: 0;
                        border-radius: 30px;
                        line-height: 20px;
                        &::before {
                            position: absolute;
                            bottom: -2px;
                            left: 15px;
                            display: block;
                            width: 5px;
                            height: 5px;
                            content: "";
                            background-color: #a4a4a4;
                            border-color: #a4a4a4;
                            border-right: 1px solid #a4a4a4;
                            transform: rotate(45deg);
                            border-style: none;
                        }
                    }
                }
                .bar2 {
                    width: 90%;
                    @keyframes prog {
                        0% {
                            width: 0%;
                        }
                        90% {
                            width: 90%;
                            background-color: $color-white-0;
                        }
                    }
                }
                .bar3 {
                    width: 75%;
                    @keyframes prog {
                        0% {
                            width: 0%;
                        }
                        75% {
                            width: 75%;
                            background-color: $color-white-0;
                        }
                    }
                }
            }
        }
    }
}

.ant-bar {
    animation: prog 2s linear forwards;
    @keyframes prog {
        0% {
            width: 0%;
        }
        80% {
            width: 80%;
            background-color: $color-white-0;
        }
    }
}